//m-1:m-16, p-1:p-16, 4px:768px
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer * .75,
    4: $spacer,
    5: $spacer * 1.5,
    6: $spacer * 2,
    7: $spacer * 3,
    8: $spacer * 4,
    9: $spacer * 6,
    10: $spacer * 8,
    11: $spacer * 12,
    12: $spacer * 16,
    13: $spacer * 24,
    14: $spacer * 32,
    15: $spacer * 40,
    16: $spacer * 48,
);

//fs-1:fs-8, 48px:12px
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.875;
$h8-font-size: $font-size-base * 0.75;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $h7-font-size,
    8: $h8-font-size,
);


// $success : #4E342E;
//gradient
// $gradient: linear-gradient(.25turn, $primary, 50%, $success);


//list-group
// $list-group-color: white;
// $list-group-action-hover-color: #B0BEC5;
// $list-group-border-color: rgba(white, .125);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// custom color variables
$primary : #d4af37;
$primary-text : #303030;
$secondary : #e97451;
$secondary-text: #8d8b7f;

// Override Bootstrap variables
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
);

// Custom styles
body {
    color: $primary-text;
    background-color: $secondary;
}

a,
.btn-primary {
    color: $primary-text;

    &:hover {
        color: darken($primary-text, 15%);
    }
}

span.rounded-pill {
    height: 21px;
}

.navbar-dark .navbar-nav .nav-link {
    color: $primary-text;

    &:hover {
        color: darken($primary-text, 15%);
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:not(.navbarContainer) {
    padding-top: 60px;
    margin-bottom: -60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.list-group-flush li:first-child {
    border-top: none;
}

// .profileMask {
//     -webkit-mask-image: $profileMaskUrl;
//     mask-image: $profileMaskUrl;
//     -webkit-mask-repeat: no-repeat;
//     mask-repeat: no-repeat;
// }

.list-group-item p {
    margin-bottom: 0;
    /* Supprime la marge inférieure */
    margin-top: 0;
    /* Optionnel : supprime la marge supérieure si nécessaire */
}


.text-pr {
    color: $primary-text;
}

.text-se {
    color: $secondary-text;
}

a.text-se {
    text-decoration: none;

    &:hover {
        color: rgba($secondary-text, 0.75);
    }
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.detail-sidebar {
    position: fixed;
    top: 21vh;
    /* Ajustez cette valeur si nécessaire, par exemple pour tenir compte d'une barre de navigation fixe */
    height: 65vh;
    /* 100% de la hauteur de la fenêtre de visualisation */
    overflow-y: auto;
    /* Permettre le défilement si le contenu dépasse la hauteur */
}

.div-indent p {
    text-indent: 30px;
}

div.entry {
    cursor: pointer;
}

/* some cute animation for copy button */
#copyButton.success {
    --copy-success-background-color: #FAFAFA;
    --copy-success-color: #5b995b;
    --copy-success-background-color-hover: #f4fff4;
    --copy-success-background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%235b995b" viewBox="0 0 16 16"><path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>');
    --copy-success-transform: rotate(360deg);
}

#copyButton {
    background-color: var(--copy-success-background-color, $primary);
    transition: 0.7s;
    color: var(--copy-success-color, white);
    border-color: var(--copy-success-color, $primary);

    height: 2rem;
    font-size: 1rem;

    &:hover {
        background-color: var(--copy-success-background-color-hover, #e97451);
        color: var(--copy-success-color, white);
    }
}

#copyButton span::before {
    display: inline-flex;
    content: "";
    background-image: var(--copy-success-background-image, url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='white' viewBox='0 0 16 16'><path d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/><path d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/></svg>"));
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    transition: 0.7s;
    transform: var(--copy-success-transform, rotate(0deg));
}

.copy-container {
    display: flex;
    align-items: center;
    gap: 10px;
}